PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/digital-coupon-marketplace
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD_HASH=$2b$10$O/1djS0WAv5vwzviKgpmd.XBkTaf8AvHaYDQ3YWOaDUgVPC7Bb/lK
JWT_SECRET=replace-with-a-secure-jwt-secret
JWT_EXPIRES_IN=1h
CORS_ORIGIN=http://localhost:5173
